@model MVC5Base.ViewModels.StudentRegisterViewModel
@{
                /**/

                ViewBag.Title = "Student Create";
}

<!-- jQuery Validation -->
<script src="~/assets/lib/jquery-validation/jquery.validate.min.js"></script>
<script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<nav class="navbar navbar-static-top top-menu" role="navigation">
    <!-- Sidebar toggle button-->
    <div class="navbar-custom-menu navbar-left">
        <ul class="nav navbar-nav">
            <li>
                <p class="h3">Add a new student</p>
            </li>
        </ul>
    </div>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu navbar-right">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Index")">
                    <i class="fa fa-list"></i>
                    <span>Back to List</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                @Model.ErrorMessage
            </div>
        </div>
    </div>
}

<div class="page-container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Full Name" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control", placeholder = "Age" })
                    @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-2">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 col-md-offset-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    }
</div>